
* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hero {
 display: block;
 width: 100vw;
 height: 85vh;
 background: url(./images/your_verse.jpg) no-repeat;
 background-position: 100% 100%;
 background-size: cover;
}

header {
  position: absolute;
  margin: 8% auto 0 15%;
}

header nav ul {
  display: flex;
  justify-content:space-between;
  align-items: center;
  list-style:none;
  border-radius: 5px;
  background: linear-gradient(rgb(124,124,124), rgb(94,94,94));
}

#header-nav li {
  width:100px;
  line-height: 40px;
  text-align: center;
  color:white;
  border-right: 1px solid rgb(128,128,128);
  font-size: 12px;
}

#header-nav li:not(:last-child):hover {
  cursor: pointer;
  background: linear-gradient(rgb(32,32,32), rgb(64,64,64));
}

header img {
  vertical-align: middle;
}

#header-nav li:last-child{
  width: 150px;
}

header input {
  width: 100px;
  height: 20px;
  border-radius: 10px;
  background:linear-gradient(rgb(124,124,124), rgb(94,94,94));
  background-image: url(./images/search_icon.png);
  background-repeat:no-repeat;
  background-position:5% 50%;
  border: 1px solid grey;
  background-size:14px 14px;
  padding-left:22px;
}

input:focus{
  outline: none;
}
#image-container {
  display: flex;
  justify-content: space-between;
  margin:5px 0 20px 0;
}

.image-post {
  width:24.5vw;
  height:200px;
  background-position: center;
  background-size: cover;
}

#image-container>div:nth-child(1) {
  background: url(./images/promo_iphone5s.jpg);
}

#image-container>div:nth-child(2) {
  background: url(./images/promo_iphone5c.jpg);
}

#image-container>div:nth-child(3) {
  background: url(./images/promo_30_years.jpg);
}

#image-container>div:nth-child(4) {
  background: url(./images/promo_supplier.jpg);
}

footer {
  height: 50px;
  background-color: aqua;
}